<!DOCTYPE>
<html>
    <head>
        <title>Upload Multer</title>
    </head>

    <body>
        <h1>Upload file bằng multer</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar" value="">
            <button type="">Upload File</button>
        </form>
    </body>
</html>